.test__answer-row {
  margin-bottom: 16px;
  display      : flex;
  align-items  : center;
}

.test__answer-row:nth-of-type(3) {
  border-bottom : 1px solid #e6e7eb;
  padding-bottom: 33px;
}

.test__answer-row:nth-of-type(3n) {
  margin: 0;
}
