.controls__volume {
  background        : linear-gradient(to right, rgb(255, 102, 0) 0%, rgb(255, 102, 0) 50%, rgb(147, 151, 163) 50%, rgb(147, 151, 163) 100%);
  border-radius     : 16px;
  height            : 6px;
  width             : 100px;
  outline           : none;
  transition        : background 450ms ease-in;
  -webkit-appearance: none;
}

.controls__volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  width             : 20px;
  height            : 20px;
  background        : rgb(255, 255, 255);
  border-radius     : 50%;
}

.controls__volume:hover {
  opacity   : .8;
  cursor    : pointer;
  transition: .4s;
}
