.test__visible-checkbox {
  display            : inline-block;
  padding-right      : 10px;
  min-width          : 20px;
  height             : 24px;
  background-image   : url(../../../images/checkbox.svg);
  background-repeat  : no-repeat;
  background-position: center;
  background-size    : 20px;
}
