.sidebar__topic-options {
    margin: 32px 0 0 0;
    width: calc(100% - 32px);
    padding-left: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, minmax(24px, max-content));
    row-gap: 16px;
}