.sidebar__lesson-button {
    width: 24px;
    height: 24px;
    margin-left: 8px;
    background-image: url(../../../images/open-lesson.svg);
    background-size: 12px 8px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fff;
    border: none;
}