.breadcrumbs__item {
  display: flex;
  padding: 0;
  height: 24px;
  letter-spacing: .05px;
}

.breadcrumbs__item::after {
  content: url(/images/breadcrumbs/arrow_right.svg);
}

.breadcrumbs__item:last-child::after {
  display: none;
}
