@import url(../blocks/course-end/course-end.css);
@import url(../blocks/course-end/__title/course-end__title.css);
@import url(../blocks/course-end/__paragraph/course-end__paragraph.css);
@import url(../blocks/course-end/__accent/course-end__accent.css);