.button {
    display: flex;
    justify-content: center;
    max-width: 184px;
    padding: 12px 0;
    background-color: #ff6600;
    border-radius: 16px;
    width: 100%;
    text-decoration: none;
    cursor: pointer;
}