.button {
    display: flex;
    justify-content: center;
    padding: 12px 0;
    background-color: #ff6600;
    border-radius: 16px;
    text-decoration: none;
    cursor: pointer;
    border: none;
    word-break: break-all;
    box-sizing: border-box;
}